#title {

background-color: #ff4c68;
color: white;



}
h1 {

    font-family: 'Montserrat', sans-serif;
  
    size: 3rem;
Line-Height: 1.5;

}

.container{

    padding: 3%, 15%;
}
body {
    font-family: 'Montserrat', sans-serif;

}

.navbar-brand {
font-family: 'Ubuntu';
font-size: 2.5rem;
font-weight: bold;
}